<!DOCTYPE html>
<html>
<head>
<title>Page Title</title>
</head>
<body>
<main>
<h1>David Chong</h1>
<div class="big-text">University of Minnesota Computer Science BA</div><br>
<p>
Brooten, MN<br><br>
<a href="LinkedIn.com/in/david-i-chong">LinkedIn</a>
<br>
<a href="github.com/mootis">Github</a>
<br><br>
chong050@morris.umn.edu<br><br>
612-501-2813
</p>
<h2>Previous Employment</h2>

  <dl>
<dt><div class="big-text">ETL Developer</div></dt>
<dd>PrimeWest Health</dd>
<dd>Alexandria, MN — FTE 2020 to 2022</dd>
  </dl>
  
<ul>Support and develop data and process reports that support operations front to backend</ul>
<ul>Develop and redefine reports </ul>
<ul>Design and implement a plan for internal and external sources of data</ul>
<ul>Utilize SQL to write queries and access data in Oracle database</ul>


  <dl>
<dt><div class="big-text">Technician - Deerwood Technology</div></dt>
<dd>Deerwood, MN — Scitech Intern 2018 and FTE 2019</dd>
</dl>
<a href="scitechmn.org/internship-spotlight-deerwood-technologies-deerwood/">Intern Article</a>

<dl>
<dt><div class="big-text">Admissions Assistant - UMN</div></dt>
<dd>Morris, MN — PTE 2018 - 2019</dd>
</dl>
<ul>Guide tours and represent campus</ul>
<ul>Validate prospective student admissions data</ul>
<ul>Direct telephone for admissions front desk</ul>
<ul>Participate on Admissions Counselor hiring committee</ul>

<dl>
<dt><div class="big-text">Thermoforming Operator - Lindar</div></dt>
<dd>Baxter, MN — FTE 2016 - 2017</dd>
</dl>
<h2>Education</h2>
<ul><div class="big-text">U of M - Morris CSCI BA— 2017 - 2019</div></ul>
<ul>Central Lakes College AA — 2015 - 2016</ul>
<ul>Aitkin HS Diploma and CIS credits — 2008 - 2015</ul>
<h2>Skills and Abilities</h2>
<p>
SQL, Databases, Java/Script, Software Development and Testing, DR, SSIS, SSRS, ETL, HTML, CSS, Angular, MS suite, Technical Documentation and Support/Assistance, Oracle, SOAP Web Services, XML, JSON, CSV
Software Design, Development 
Angular, Google login, E2E & Karma testing, Agile, TDD, CI, SQL, Oracle, Cloud Solutions
Android Application Development
HTML, Java, CSS, Javascript, JQuery, R, C, mySQL, MongoDB, Python, IntelliJ, VIM/Emacs, Atom, RStudio, 
Data Structures, Science, and Databases
Computing Systems, Cryptography
Microsoft Office Suite, IT Certifications
Service Desk Technician

</p>
</main>
</body>
</html> 