<!DOCTYPE html>
<html lang="en-us">
<head>
  <meta charset="UTF-8">
  
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Chong Resume</title>
</head>
<body>
<main>
<h1>David Chong</h1>

<b>U of MN Morris CS BA</b><br>

Brooten, MN<br>

<ul>
  <li><a href="LinkedIn.com/in/david-i-chong">LinkedIn</a></li>
  <li><a href="github.com/mootis">Github</a></li>
  <li><a href="chong050@morris.umn.edu">Email</a></li>
  <li><a href="tel:612-501-2813">Cell</a></li>
</ul>

<h2>Previous Employment</h2>

<dl>
  <dt>ETL Developer</dt>
  <dd>PrimeWest Health</dd>
  <dd>Alexandria, MN — FTE 2020 to 2022</dd>
</dl>

<ul>
  <li>Support and develop data and process reports that
  support operations front to backend</li>
  <li>Develop and redefine reports</li>
  <li>Design and implement a plan for internal and external
  sources of data</li>
  <li>Utilize SQL to write queries and access data in Oracle
  database</li>
</ul>

<dl>
  <dt>Technician</dt>
  <dd>Deerwood Technology</dd>
  <dd>Deerwood, MN — Scitech Intern 2018 and FTE 2019</dd>
</dl>

<a href="scitechmn.org/internship-spotlight-deerwood-technologies-
deerwood/">Internship Article</a>

<dl>
  <dt>Admissions Assistant</dt>
  <dd>UMN</dd>
  <dd>Morris, MN — PTE 2018 - 2019</dd>
</dl>

<ul>
  <li>Guide tours and represent campus</li>
  <li>Validate prospective student admissions data</li>
  <li>Direct telephone for admissions front desk</li>
  <li>Participate on Admissions Counselor hiring committee</li>
</ul>

<dl>
  <dt>Thermoforming Operator </dt>
  <dd>Lindar</dd>
  <dd>Baxter, MN — FTE 2016 - 2017</dd>
</dl>

<h2>Education</h2>

<ul>
<li>U of MN Morris CS BA — 2017 - 2019</li>
<li>Central Lakes College AA — 2015 - 2016</li>
<li>Aitkin HS Diploma and CIS credits — 2008 - 2015</li>
</ul>

<h2>Skills and Abilities</h2>
<p>SQL, Databases, Java/Script, Software Development and
Testing, DR, SSIS, SSRS, ETL, HTML, CSS, Angular, MS
suite, Technical Documentation and Support/Assistance,
Oracle, SOAP Web Services, XML, JSON, CSV, Software Design, Development, Angular, Google login, E2E and Karma testing, Agile, TDD, CI, SQL, Oracle, Cloud Solutions, Android Application Development, HTML, Java, CSS, Javascript, JQuery, R, C, mySQL, MongoDB, Python, IntelliJ, VIM/Emacs, Atom, RStudio, Data Structures, Science, and Databases, Computing Systems, Cryptography, Microsoft Office Suite, IT Certifications, Service Desk Technician</p>
</main>
</body>
</html> 